.task
bin
frontend/dist
frontend/node_modules
frontend/wailsjs
build/linux/appimage/build
build/windows/nsis/MicrosoftEdgeWebview2Setup.exe
build/config.yml
合成
images
*.DS_Store
changeme
app-image-handle
